body, html{
    margin: 0;
    font: 16px "Lato", sans-serif;
    height: 100%;
    color: #777;
    
}

.conteudo {
    color: #777;
    background: url(../View/imagens/windows.png) no-repeat center;
    background-size: 100%;
    text-align: justify;
    padding: 80px 80px;
    
}
h3{
    text-transform: uppercase;
    color: white;
    text-align: center;
}


/*EFEITO PARALLAX*/

.caixa1, .caixa2{

    height: 100%;
    
}

.caixa1{
    background: url(../View/imagens/imagem1.jpg) no-repeat fixed;
    background-size: 100%;
    
}
.caixa2{
    background: url(../View/imagens/imagem2.jpg) no-repeat fixed;
    background-size: 100%;
}